<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="/css/styling.css">
</head>
<body>
<div class="container">
    <h1>Velkommen, <span th:text="${user.username}"></span>!</h1>

    <h2>Dine ønskelister:</h2>
    <ul>
        <li th:each="wishlist : ${wishlist}">
            <a th:href="@{/viewWishList/{wishlist_id}(wishlist_id=${wishlist.wishlist_id})}" th:text="${wishlist.wishlist_name}"></a>
            <a th:href="@{/deleteWishList/{wishlist_id}(wishlist_id=${wishlist.wishlist_id})}">Slet</a>
        </li>
    </ul>

    <form th:action="@{/createWishlist}" method="post">
        <input type="text" name="wishlist_name" placeholder="New wishlist name" required>
        <button type="submit">Opret en ønskeliste</button>
    </form>

    <a href="/logout" class="logout">Log ud</a>
</div>
</body>
</html>
